{% extends "base.html" %}
{% block title %}Login | SneakerStore{% endblock %}

{% block content %}
<section class="form-wrapper">
    <h2>Entrar</h2>

    {% with msgs = get_flashed_messages(with_categories=true) %}
      {% if msgs %}
        <ul class="flash-list">
          {% for cat, msg in msgs %}
            <li class="flash {{ cat }}">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" autocomplete="off">
        <label>E‑mail
            <input type="email" name="email" placeholder="seu@email.com" required>
        </label>
        <label>Senha
            <input type="password" name="senha" placeholder="Sua senha" required>
        </label>
        <button type="submit" class="btn-primary">Entrar</button>
    </form>
</section>
{% endblock %}
